html, body{
    position: relative;
    /* overflow: hidden; */
}
body{
    height: 150vh;
    background: linear-gradient(90deg, #000, #000D 35%, #0000), 
    url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
    padding: 80px 128px 50px 128px;
}

@media (max-widht: 786px) {
    body{
        padding: 30px 30px 25px 30px;
        background-image: url(../img/background.jpg);
        background-color: #0009;
        background-blend-mode: darken;
    }
}